
html{
    background-color: #fdcb98;
    font-family: monospace;
    color: white;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid:flex;
    gap: 1.5px;
    grid-template-rows:0fr 0fr 0fr 0fr;
    border-radius: 1rem;
    background-color: #4d6f6f;
    width: 100% 700px;
    margin: 5px auto 5px auto;
    margin-inline: auto;
    box-sizing: border-box;
    /* setting my margin at the top as zero and 10px at sides */
    padding: 0 10px;
}

.intro{
    margin: 0;
    padding: 0;
    text-align: center;
}

/* styling my header */
header{
    text-align: center;
    background-image: url('https://i.pinimg.com/originals/00/2d/7e/002d7e638fb463fb7a266f5ffc7ac47d.gif');
    background-size: cover;
    border-radius: 50px;
    font-size: larger;
}



/* styling my profile picture */
.profile{
    clip-path: circle();
    margin: 0;
    padding: 0;
    width: 20%;
    height: 30%;
    margin-top: 10px;
}

.navbar{
    position: sticky;
    top: 0;
    display:flex;
    width: 100%;
    height: fit-content;
    background-position: 0;
    background-color: aquamarine;
    border-radius: 2rem;
    z-index: 1;
}



/* this part is for my middle part that contains two sides */
.main{
    border: 2px solid #d0f0f0;
    display: table;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px 0;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    background: #2F4F4F;
    background-color: #264848;
}
    







/* styling my left part */
.left-column{vertical-align: middle;display:table-cell;width: 50%;padding: 10px;}

.list{}
#left-part{}
nav{}
.navt{}
.navigation{}

/* styling my right part */

.right-column{vertical-align: middle;display:table-cell;width: 50%;padding: 10px;}
.right-part{}

.bottom-column1{vertical-align: middle;}
.bottom-column2{vertical-align: middle;}

.footer{
    text-align: center;
    margin: 0;
    padding: 0;
}
/* test */

.Button{
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointers;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right:28px;
    width:280px;
    font-size: 1em;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.1s ease-out;
}
.Button:hover{
    background: #264848;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 500ms;
    visibility:hidden;
    opacity: 1;
}
.overlay:target{
    visibility: visible;
    opacity: 1;
}
.popupp{
    margin: 70px auto;
    padding: 20px;
    background: #f99e01;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 0.2s ease-in-out;
}
/* button used to open Contact me form fixed at the bottom of footer */


button:hover{
    background: #06D85F;
}
.form-container{
    margin: 70px auto;
    padding: 10px;
    border-radius: 5px;
    max-width:fit-content;
    display: grid;
    position: relative;
    transition: all 0.2s ease-in-out;
}
/* styling my form popup */
.form-popup{
    color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    border: 3px solid #fdcb98;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9;
}

.form-popup:target{
    visibility:visible;
    opacity: 1;
}



.form-container input[type=text]:focus, .form-container input[type=mail]:focus, .form-container input[type=submit]:focus{
    background-color: #8f3434;
    outline:#555;
}

.link{
    color:rgb(125, 171, 78);
}


/* adding my media query dor tablet device */